body {
    height: 100%;
    width: 100%;
    background-color: #6666cc;
}

#content {
    width: 80%;
    min-height: 80%;
    font-family: "vollkorn", sans-serif;
}

#index {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    h3 {
        color: white;
        font-size: 50px;
    }
    font-size: 20px;
    input {
        text-align: center;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#bar {
    padding: 20px;
    border: 1px white solid;
    margin-bottom: 20px;
    color: white;
    font-size: 17px;
    #name {
        font-size: 20px;
    }

    img {
        float: left;
        margin-right: 10px;
    }

    .btn {
        background-color: #6666cc;
        border: 1px solid white;
        color: white;
    }

    .btn:hover {
        background-color: #aaaadd;
    }
}

#bar:hover {
    box-shadow: 0 0 5px black;
}
